{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="w-[1440px] h-[900px] px-16 bg-gradient-to-b from-blue-300/0 to-blue-300 inline-flex justify-center items-center overflow-hidden">
    <div class="flex-1 max-w-[1280px] inline-flex flex-col justify-start items-center gap-20">
        <div class="w-full max-w-[768px] flex flex-col justify-start items-center gap-8">
            <div class="self-stretch flex flex-col justify-start items-center gap-6">
                <div class="self-stretch text-center justify-start text-Color-White text-6xl font-bold font-['Roboto'] leading-[67.20px]">Your next game begins here.. with AnyVenue.</div>
                <div class="self-stretch text-center justify-start text-Color-White text-lg font-normal font-['Roboto'] leading-relaxed"> Cari, sewa, dan ikuti berbagai event olahraga dengan cara baru yang lebih simple dan efisien.          AnyVenue hadir untuk menyatukan komunitas olahraga dalam satu platform yang modern, cepat, dan terpercaya.</div>
            </div>
            <div class="inline-flex justify-start items-start gap-4">
                <div data-alternate="True" data-icon-position="No icon" data-small="False" data-style="Primary" class="px-6 py-3 bg-Color-White outline outline-1 outline-Color-White flex justify-center items-center gap-2">
                    <div class="justify-start text-Neutral-Dark text-base font-normal font-['Roboto'] leading-normal">Login</div>
                </div>
                <div data-alternate="True" data-icon-position="No icon" data-small="False" data-style="Secondary" class="px-6 py-3 outline outline-1 outline-Color-White flex justify-center items-center gap-2">
                    <div class="justify-start text-Color-White text-base font-normal font-['Roboto'] leading-normal">Explore</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}