<div class="w-[1440px] h-[1935px] relative bg-white overflow-hidden">
    <div data-breakpoint="Desktop" class="w-[1440px] px-16 py-28 left-0 top-[72px] absolute bg-gradient-to-b from-Light-Navy to-Flash-White inline-flex flex-col justify-start items-center gap-20 overflow-hidden">
        <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-20">
            <div class="self-stretch inline-flex justify-start items-start gap-20">
                <div class="flex-1 inline-flex flex-col justify-start items-start gap-8">
                    <div class="self-stretch inline-flex justify-start items-center gap-2">
                        <div class="text-center justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Events</div>
                        <div class="w-4 h-4 relative overflow-hidden">
                            <div class="w-1 h-2 left-[5.67px] top-[4.12px] absolute bg-Color-Scheme-1-Text border-[0.67px] border-Color-Scheme-1-Text"></div>
                        </div>
                        <div class="text-center justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Events title</div>
                    </div>
                    <div class="self-stretch flex flex-col justify-start items-start gap-6">
                        <div class="self-stretch justify-start text-Color-Scheme-1-Text text-5xl font-bold font-['Roboto'] leading-[57.60px]">Event title </div>
                        <div class="self-stretch justify-start text-Color-Scheme-1-Text text-lg font-normal font-['Roboto'] leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. (Basically deskripsi nya event)</div>
                    </div>
                    <div class="inline-flex justify-start items-start gap-4">
                        <div class="px-6 py-3 bg-Color-Neutral-Darkest outline outline-1 outline-Color-Neutral-Darkest flex justify-center items-center gap-2">
                            <div class="justify-start text-Color-White text-base font-normal font-['Roboto'] leading-normal">Join Event</div>
                        </div>
                    </div>
                </div>
                <div class="w-[464px] inline-flex flex-col justify-start items-start gap-8">
                    <div class="self-stretch inline-flex justify-start items-start gap-8">
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-xl font-bold font-['Roboto'] leading-7">Date</div>
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Sat 10 Feb 2024</div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-xl font-bold font-['Roboto'] leading-7">Location</div>
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Venue A.. </div>
                        </div>
                    </div>
                    <div class="self-stretch inline-flex justify-start items-start gap-8">
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-xl font-bold font-['Roboto'] leading-7">Event Owner</div>
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Username Owner</div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-xl font-bold font-['Roboto'] leading-7">Sport</div>
                            <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">In-person</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="self-stretch h-[738px]" src="https://placehold.co/1280x738" />
        </div>
    </div>
    <div class="w-[1440px] h-16 px-16 left-0 top-0 absolute bg-neutral-lightest-new inline-flex flex-col justify-center items-center">
        <div class="self-stretch inline-flex justify-start items-center gap-4">
            <div class="w-20 h-10 flex justify-center items-center">
                <div data-alternate="False" class="w-20 h-9 relative overflow-hidden">
                    <div class="w-16 h-9 left-[6.67px] top-0 absolute overflow-hidden">
                        <div class="w-5 h-4 left-[50.82px] top-[10.87px] absolute bg-text-dark"></div>
                        <div class="w-5 h-6 left-[34.33px] top-[11.32px] absolute bg-text-dark"></div>
                        <div class="w-5 h-4 left-[18.55px] top-[10.87px] absolute bg-text-dark"></div>
                        <div class="w-5 h-4 left-0 top-[10.24px] absolute bg-text-dark"></div>
                        <div class="w-4 h-2.5 left-[1.15px] top-0 absolute bg-text-dark"></div>
                    </div>
                </div>
            </div>
            <div class="w-[963px] px-96 flex justify-end items-center gap-2.5">
                <div class="flex justify-end items-center gap-8">
                    <div class="flex justify-center items-center gap-2">
                        <div class="justify-start text-text-dark text-base font-normal font-['Roboto'] leading-normal">Booking</div>
                    </div>
                    <div class="px-5 py-2 outline outline-1 outline-Color-Neutral-Darkest flex justify-center items-center gap-2">
                        <div class="justify-start text-text-dark text-base font-normal font-['Roboto'] leading-normal">Event</div>
                    </div>
                </div>
            </div>
            <div class="w-36 h-8 inline-flex flex-col justify-center items-end">
                <div class="text-right justify-start text-text-dark text-sm font-semibold font-['Roboto'] leading-tight">Username </div>
                <div class="self-stretch inline-flex justify-end items-center gap-2">
                    <div class="justify-start text-text-dark text-sm font-normal font-['Roboto'] leading-tight">Member</div>
                </div>
            </div>
            <div class="w-20 flex justify-center items-center gap-4">
                <div data-alternate="False" data-icon-position="No icon" data-small="True" data-style="Primary" class="px-5 py-2 bg-text-dark outline outline-1 outline-text-dark flex justify-center items-center gap-2">
                    <div class="justify-start text-Color-White text-base font-normal font-['Roboto'] leading-normal">Logout</div>
                </div>
            </div>
        </div>
    </div>
    <div data-breakpoint="Desktop" class="w-[1440px] px-16 py-20 left-0 top-[1386px] absolute bg-neutral-lightest-new inline-flex flex-col justify-start items-center gap-8 overflow-hidden">
        <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-20">
            <div class="self-stretch flex flex-col justify-start items-start gap-8">
                <div class="self-stretch p-12 bg-neutral-lightest-new outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex justify-start items-start gap-32">
                    <div class="w-[500px] inline-flex flex-col justify-start items-start gap-6">
                        <div data-alternate="False" class="w-20 h-9 relative overflow-hidden">
                            <div class="w-16 h-9 left-[6.67px] top-0 absolute overflow-hidden">
                                <div class="w-5 h-4 left-[50.82px] top-[10.87px] absolute bg-black"></div>
                                <div class="w-5 h-6 left-[34.33px] top-[11.32px] absolute bg-black"></div>
                                <div class="w-5 h-4 left-[18.55px] top-[10.87px] absolute bg-black"></div>
                                <div class="w-5 h-4 left-0 top-[10.24px] absolute bg-black"></div>
                                <div class="w-4 h-2.5 left-[1.15px] top-0 absolute bg-black"></div>
                            </div>
                        </div>
                        <div class="self-stretch justify-start text-black text-base font-normal font-['Roboto'] leading-normal">Let’s grow the sports community together!</div>
                    </div>
                    <div class="flex-1 flex justify-start items-start gap-10">
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4 overflow-hidden">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Perusahaan</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Tentang</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Kebijakan & Privasi</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Syarat & Ketentuan</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4 overflow-hidden">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Hubungi Kami</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Nabillakha</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Fahri</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Kurroro</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Nauval</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Sahilla</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Follow Us</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-5 h-5 left-[2px] top-[2.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Facebook</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[3.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Instagram</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[4.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">X</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[3.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">LinkedIn</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-5 h-3.5 left-[1.99px] top-[5px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Youtube</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch flex flex-col justify-start items-start gap-8">
                    <div class="self-stretch inline-flex justify-between items-start">
                        <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">© 2025. All rights reserved.</div>
                        <div class="flex justify-start items-start gap-6">
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Privacy Policy</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Terms of Service</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Cookies Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>