<div class="w-[1440px] h-[1641px] relative bg-white overflow-hidden">
    <div class="w-[1440px] px-16 py-28 left-0 top-[72px] absolute bg-gradient-to-b from-Light-Navy to-Flash-White inline-flex flex-col justify-start items-center gap-20 overflow-hidden">
        <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-20">
            <div class="self-stretch inline-flex justify-between items-end">
                <div class="flex-1 max-w-[768px] inline-flex flex-col justify-start items-start gap-4">
                    <div class="self-stretch flex flex-col justify-start items-center gap-4">
                        <div class="self-stretch justify-start text-Color-Scheme-1-Text text-5xl font-bold font-['Roboto'] leading-[57.60px]">Events</div>
                        <div class="self-stretch justify-start text-Color-Scheme-1-Text text-lg font-normal font-['Roboto'] leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                    </div>
                </div>
                <div class="inline-flex flex-col justify-start items-start gap-4"></div>
            </div>
            <div class="self-stretch flex flex-col justify-start items-start gap-16">
                <div class="self-stretch inline-flex justify-start items-start gap-8">
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Tue 06 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Wed 07 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Thu 08 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Fri 09 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Sat 10 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-96 bg-Color-Scheme-1-Foreground outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex flex-col justify-start items-start overflow-hidden">
                        <div class="self-stretch h-72 relative flex flex-col justify-start items-start gap-2.5">
                            <img class="self-stretch h-64" src="https://placehold.co/405x270" />
                            <div class="w-96 left-[5px] top-[16px] absolute inline-flex justify-end items-start gap-4 flex-wrap content-start">
                                <div data-alternate="False" data-icon-position="No Icon" data-text-only="False" class="px-2 py-1 bg-Color-Neutral-Lightest flex justify-start items-start">
                                    <div class="justify-start text-Color-Neutral-Darkest text-sm font-semibold font-['Roboto'] leading-tight">Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch p-6 flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch flex flex-col justify-start items-start gap-4">
                                <div class="self-stretch inline-flex justify-start items-center gap-4 flex-wrap content-center">
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-5 h-5 left-[2.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Sun 11 Feb 2024</div>
                                    </div>
                                    <div class="flex justify-start items-center gap-2">
                                        <div class="w-6 h-6 relative overflow-hidden">
                                            <div class="w-4 h-5 left-[3.85px] top-[1.84px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                        </div>
                                        <div class="text-center justify-start text-Color-Scheme-1-Text text-sm font-normal font-['Roboto'] leading-tight">Location</div>
                                    </div>
                                </div>
                                <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-2xl font-bold font-['Roboto'] leading-loose">Event title heading</div>
                                    <div class="self-stretch justify-start text-Color-Scheme-1-Text text-base font-normal font-['Roboto'] leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</div>
                                </div>
                            </div>
                            <div class="self-stretch pt-2 flex flex-col justify-start items-start gap-2">
                                <div data-alternate="False" data-icon-position="Trailing" data-small="False" data-style="Link" class="inline-flex justify-center items-center gap-2">
                                    <div class="justify-start text-Color-Neutral-Darkest text-base font-normal font-['Roboto'] leading-normal">View event</div>
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-1.5 h-3 left-[8.51px] top-[6.17px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch inline-flex justify-between items-center">
                    <div class="flex justify-start items-start gap-2">
                        <div class="w-2 h-2 bg-Color-Scheme-1-Text rounded-full"></div>
                        <div class="w-2 h-2 opacity-20 bg-Color-Scheme-1-Text rounded-full"></div>
                        <div class="w-2 h-2 opacity-20 bg-Color-Scheme-1-Text rounded-full"></div>
                        <div class="w-2 h-2 opacity-20 bg-Color-Scheme-1-Text rounded-full"></div>
                        <div class="w-2 h-2 opacity-20 bg-Color-Scheme-1-Text rounded-full"></div>
                    </div>
                    <div class="flex justify-start items-start gap-4">
                        <div data-direction="Left" class="p-3 bg-Color-Scheme-1-Foreground rounded-[50px] outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border flex justify-center items-center gap-2">
                            <div class="w-6 h-6 relative overflow-hidden">
                                <div class="w-4 h-4 left-[4.19px] top-[4.19px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                            </div>
                        </div>
                        <div data-direction="Right" class="p-3 bg-Color-Scheme-1-Foreground rounded-[50px] outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border flex justify-center items-center gap-2">
                            <div class="w-6 h-6 relative overflow-hidden">
                                <div class="w-4 h-4 left-[3.85px] top-[4.19px] absolute bg-Color-Scheme-1-Text border border-Color-Scheme-1-Text"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[1440px] h-16 px-16 left-0 top-0 absolute bg-neutral-lightest-new inline-flex flex-col justify-center items-center">
        <div class="self-stretch inline-flex justify-start items-center gap-4">
            <div class="w-20 h-10 flex justify-center items-center">
                <div data-alternate="False" class="w-20 h-9 relative overflow-hidden">
                    <div class="w-16 h-9 left-[6.67px] top-0 absolute overflow-hidden">
                        <div class="w-5 h-4 left-[50.82px] top-[10.87px] absolute bg-text-dark"></div>
                        <div class="w-5 h-6 left-[34.33px] top-[11.32px] absolute bg-text-dark"></div>
                        <div class="w-5 h-4 left-[18.55px] top-[10.87px] absolute bg-text-dark"></div>
                        <div class="w-5 h-4 left-0 top-[10.24px] absolute bg-text-dark"></div>
                        <div class="w-4 h-2.5 left-[1.15px] top-0 absolute bg-text-dark"></div>
                    </div>
                </div>
            </div>
            <div class="w-[963px] px-96 flex justify-end items-center gap-2.5">
                <div class="flex justify-end items-center gap-8">
                    <div class="flex justify-center items-center gap-2">
                        <div class="justify-start text-text-dark text-base font-normal font-['Roboto'] leading-normal">Booking</div>
                    </div>
                    <div class="px-5 py-2 outline outline-1 outline-Color-Neutral-Darkest flex justify-center items-center gap-2">
                        <div class="justify-start text-text-dark text-base font-normal font-['Roboto'] leading-normal">Event</div>
                    </div>
                </div>
            </div>
            <div class="w-36 h-8 inline-flex flex-col justify-center items-end">
                <div class="text-right justify-start text-text-dark text-sm font-semibold font-['Roboto'] leading-tight">Username </div>
                <div class="self-stretch inline-flex justify-end items-center gap-2">
                    <div class="justify-start text-text-dark text-sm font-normal font-['Roboto'] leading-tight">Member</div>
                </div>
            </div>
            <div class="w-20 flex justify-center items-center gap-4">
                <div data-alternate="False" data-icon-position="No icon" data-small="True" data-style="Primary" class="px-5 py-2 bg-text-dark outline outline-1 outline-text-dark flex justify-center items-center gap-2">
                    <div class="justify-start text-Color-White text-base font-normal font-['Roboto'] leading-normal">Logout</div>
                </div>
            </div>
        </div>
    </div>
    <div data-breakpoint="Desktop" class="w-[1440px] px-16 py-20 left-0 top-[1092px] absolute bg-neutral-lightest-new inline-flex flex-col justify-start items-center gap-8 overflow-hidden">
        <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-20">
            <div class="self-stretch flex flex-col justify-start items-start gap-8">
                <div class="self-stretch p-12 bg-neutral-lightest-new outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border inline-flex justify-start items-start gap-32">
                    <div class="w-[500px] inline-flex flex-col justify-start items-start gap-6">
                        <div data-alternate="False" class="w-20 h-9 relative overflow-hidden">
                            <div class="w-16 h-9 left-[6.67px] top-0 absolute overflow-hidden">
                                <div class="w-5 h-4 left-[50.82px] top-[10.87px] absolute bg-black"></div>
                                <div class="w-5 h-6 left-[34.33px] top-[11.32px] absolute bg-black"></div>
                                <div class="w-5 h-4 left-[18.55px] top-[10.87px] absolute bg-black"></div>
                                <div class="w-5 h-4 left-0 top-[10.24px] absolute bg-black"></div>
                                <div class="w-4 h-2.5 left-[1.15px] top-0 absolute bg-black"></div>
                            </div>
                        </div>
                        <div class="self-stretch justify-start text-black text-base font-normal font-['Roboto'] leading-normal">Let’s grow the sports community together!</div>
                    </div>
                    <div class="flex-1 flex justify-start items-start gap-10">
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4 overflow-hidden">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Perusahaan</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Tentang</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Kebijakan & Privasi</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Syarat & Ketentuan</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4 overflow-hidden">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Hubungi Kami</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Nabillakha</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Fahri</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Kurroro</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Nauval</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-start">
                                    <div class="flex-1 justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Sahilla</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 inline-flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch justify-start text-black text-base font-semibold font-['Roboto'] leading-normal">Follow Us</div>
                            <div class="self-stretch flex flex-col justify-start items-start">
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-5 h-5 left-[2px] top-[2.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Facebook</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[3.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Instagram</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[4.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">X</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-4 h-4 left-[3px] top-[3.24px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">LinkedIn</div>
                                </div>
                                <div class="self-stretch py-2 inline-flex justify-start items-center gap-3">
                                    <div class="w-6 h-6 relative overflow-hidden">
                                        <div class="w-5 h-3.5 left-[1.99px] top-[5px] absolute bg-black"></div>
                                    </div>
                                    <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">Youtube</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch flex flex-col justify-start items-start gap-8">
                    <div class="self-stretch inline-flex justify-between items-start">
                        <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">© 2025. All rights reserved.</div>
                        <div class="flex justify-start items-start gap-6">
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Privacy Policy</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Terms of Service</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Cookies Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>