{% load static %}
<footer class="w-full bg-gray-50 border-t border-gray-200">
    <div data-breakpoint="Desktop" class="w-full px-16 py-20 bg-[#EFEFEF] inline-flex flex-col justify-start items-center gap-8 overflow-hidden">
        <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-20">
            <div class="self-stretch flex flex-col justify-start items-start gap-8">
                <div class="self-stretch p-12 outline outline-1 outline-offset-[-1px] outline-Color-Scheme-1-Border flex flex-col lg:flex-row justify-start items-start gap-16 lg:gap-32">

                    <!-- Kiri: logo & teks -->
                    <div class="w-full lg:w-[500px] inline-flex flex-col justify-start items-start gap-6">
                        <div class="w-full h-9 relative overflow-hidden mx-auto lg:mx-0">
                            <div class="text-2xl font-bold text-black tracking-wide transition-colors duration-300">
                                AnyVenue
                            </div>
                        </div>
                        <div class="self-stretch text-center lg:text-left text-black text-base font-normal font-['Roboto'] leading-normal">
                            Let’s grow the sports community together!
                        </div>
                    </div>

                    <!-- Kanan: kolom link -->
                    <div class="flex-1 flex flex-col md:flex-row md:gap-10 justify-start items-start">

                        <!-- Kolom Perusahaan -->
                        <div class="flex-1 min-w-[150px] flex flex-col gap-4">
                            <div class="text-black text-base font-semibold font-['Roboto'] leading-normal">Perusahaan</div>
                            <div class="flex flex-col justify-start items-start">
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Tentang</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Kebijakan & Privasi</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Syarat & Ketentuan</div></div>
                            </div>
                        </div>

                        <!-- Kolom Hubungi Kami -->
                        <div class="flex-1 min-w-[150px] flex flex-col gap-4">
                            <div class="text-black text-base font-semibold font-['Roboto'] leading-normal">Hubungi Kami</div>
                            <div class="flex flex-col justify-start items-start">
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Nabillakha</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Fahri</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Kurroro</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Nauval</div></div>
                                <div class="py-2"><div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Sahilla</div></div>
                            </div>
                        </div>

                        <!-- Kolom Follow Us -->
                        <div class="flex-1 min-w-[150px] flex flex-col gap-4">
                            <div class="text-black text-base font-semibold font-['Roboto'] leading-normal">Follow Us</div>
                            <div class="flex flex-col justify-start items-start">
                                <div class="py-2 flex justify-start items-center gap-3">
                                    <img src="{% static 'image/icons/Facebook.svg' %}" alt="Facebook" class="w-6 h-6">
                                    <div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Facebook</div>
                                </div>
                                <div class="py-2 flex justify-start items-center gap-3">
                                    <img src="{% static 'image/icons/Instagram.svg' %}"  alt="Instagram" class="w-6 h-6">
                                    <div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Instagram</div>
                                </div>
                                <div class="py-2 flex justify-start items-center gap-3">
                                    <img src="{% static 'image/icons/X.svg' %}" alt="X" class="w-6 h-6">
                                    <div class="text-black text-sm font-normal font-['Roboto'] leading-tight">X</div>
                                </div>
                                <div class="py-2 flex justify-start items-center gap-3">
                                    <img src="{% static 'image/icons/LinkedIn.svg' %}"  alt="Linkedin" class="w-6 h-6">
                                    <div class="text-black text-sm font-normal font-['Roboto'] leading-tight">LinkedIn</div>
                                </div>
                                <div class="py-2 flex justify-start items-center gap-3">
                                    <img src="{% static 'image/icons/Youtube.svg' %}"  alt="Youtube" class="w-6 h-6">
                                    <div class="text-black text-sm font-normal font-['Roboto'] leading-tight">Youtube</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch flex flex-col justify-start items-start gap-8">
                    <div class="self-stretch inline-flex justify-between items-start">
                        <div class="justify-start text-black text-sm font-normal font-['Roboto'] leading-tight">© 2025. All rights reserved.</div>
                        <div class="flex justify-start items-start gap-6">
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Privacy Policy</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Terms of Service</div>
                            <div class="justify-start text-black text-sm font-normal font-['Roboto'] underline leading-tight">Cookies Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>